{# list.html #}

{% extends 'base.html'%}

{% block content %}

<p>
Hello, World!</br>
&emsp;I'm in list.html!
</p>
<p>
<strong>list.html</strong></br>
&emsp;uses base.html as its basis and allows us to input any simple or slightly
HTML-marked text in-between % extends 'base.html' and endblock.
</p>
<p>
Which file is used for storing functions?  views.py!
</p>
<p>
You can create different templates for different functions and use them
separately. For example, if you are creating a blog website, you might want to
make templates for articles and homepage separately.
</p>

{% endblock %}

